.markdown-section table {
    table-layout: fixed;
    display:block;
    overflow-x: auto;
}

.page-inner {
  position:relative;
  max-width:1200px;
  margin:0 auto;
  padding:20px 15px 40px 15px
}

